<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login One</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        tbody tr td {
            vertical-align: middle;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        $(function() {
            $('#bannerModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var img_url = button.data("img")
                var link = button.data("link")
                var id = button.data("id")

                var modal = $(this)
                if (id) {
                    modal.find('#myModalLabel').text("编辑banner")
                    modal.find('.img-input').val(img_url)
                    modal.find('.link').val(link)
                    modal.find('.banner-id').val(id)
                } else {
                    modal.find('#myModalLabel').text("添加banner")
                    modal.find('.img-input').val("")
                    modal.find('.link').val("")
                    modal.find('.banner-id').val(0)
                }
            });

            $('#wechatModal').on('show.bs.modal', function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var img_url = button.data("img")
                var link = button.data("link")
                var id = button.data("id")
                var title = button.data("title")
                var desc = button.data("desc")

                var modal = $(this)
                if (id) {
                    modal.find('#myModalLabel').text("编辑公众号")
                    modal.find('.id-input').val(id)
                    modal.find('.title-input').val(title)
                    modal.find('.description-input').val(desc)
                    modal.find('.img-input').val(img_url)
                    modal.find('.link-input').val(link)

                } else {
                    modal.find('#myModalLabel').text("添加公众号")
                    modal.find('.id-input').val(0)
                    modal.find('.title-input').val("")
                    modal.find('.description-input').val("")
                    modal.find('.img-input').val("")
                    modal.find('.link-input').val("")
                }
            });

        });
    </script>

</head>



<body>


<!-- Modal -->
<div class="modal fade" id="wechatModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加公众号</h4>
            </div>
            <form class="form-horizontal" action="/admin/cityCellEdit">
                <input type="hidden" class="id-input" name="id">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input class="form-control title-input" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <input class="form-control description-input" name="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片链接</label>
                        <div class="col-sm-10">
                            <input class="form-control img-input" name="img">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">跳转链接</label>
                        <div class="col-sm-10">
                            <input class="form-control link-input" name="link">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="javascript:form.submit();">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="bannerModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加banner</h4>
            </div>
            <form class="form-horizontal" action="/admin/cityBannerEdit">
                <input type="hidden" class="banner-id" name="id">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片链接</label>
                        <div class="col-sm-10">
                            <input class="form-control img-input" name="img">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">跳转地址</label>
                        <div class="col-sm-10">
                            <input class="form-control link" name="link">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  onclick="javascript:form.submit();">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">管理后台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">市区信息</a></li>
                <li><a href="/admin/town.htm">镇级条线</a></li>
                <li><a href="/admin/community.htm">基层社区</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h3>市区信息 <small>管理页面</small> </h3>
    </div>
    <div class="banner-manager panel panel-default">
        <div class="row " style="margin-top: 15px;">
            <div class="col-md-10">banner管理</div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-info" data-toggle="modal" data-target="#bannerModal">添加banner</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <thead class="text-center">
                <td>id</td>
                <td>图片</td>
                <td>跳转链接</td>
                <td>操作</td>
                </thead>
                <tbody>
                <tr th:each="banner : ${bannerList}">
                    <td th:text="${banner.id}"></td>
                    <td>
                        <img th:src="@{${banner.img}}" src="" class="img-rounded" height="60px">
                    </td>
                    <td><a th:href="@{${banner.url}}" th:text="${banner.url}"></a></td>
                    <td>
                        <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#bannerModal"
                                th:attr="data-id=${banner.id},data-img=${banner.img},data-link=${banner.url}">修改</button>
                        <!-- <button class="btn btn-danger" type="submit">删除</button> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="cell-manager panel panel-default">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-10">公众号管理</div>
            <div class="col-md-2 pull-right">
                <button class="btn btn-info" data-toggle="modal" data-target="#wechatModal">添加公众号</button>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed">
                <thead class="text-center">
                <td>id</td>
                <td>图片</td>
                <td>标题</td>
                <td>描述</td>
                <td>跳转链接</td>
                <td>操作</td>
                </thead>
                <tbody>
                <tr th:each="item : ${itemList}">
                    <td th:text="${item.id}"></td>
                    <td>
                        <img th:src="@{${item.img}}" src="" class="img-rounded" height="60px">
                    </td>
                    <td th:text="${item.title}">上海发布</td>
                    <td th:text="${item.description}"></td>
                    <td><a th:href="@{${item.followLink}}" >微信公众号链接</a></td>
                    <td>
                        <button class="btn btn-primary" type="submit"
                                data-toggle="modal" data-target="#wechatModal"
                                th:attr="data-id=${item.id},data-title=${item.title},
                                         data-desc=${item.description},data-img=${item.img},data-link=${item.followLink}"
                        >修改</button>
                        <!-- <button class="btn btn-danger" type="submit">删除</button> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>
</body>

</html>