<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<community-page>
<div class="content">
    <table>
        <tr th:each="line : ${lineList}">
            <td  class = "cell" th:each="cell : ${line} "
                 th:style=" 'background:url('+@{${cell.backgroudImg}}+');background-size:100%100%' ">
                <a href="#" th:href="@{${cell.link}}" th:text="${cell.title}"></a>
            </td>
        </tr>
    </table>
</div>
</community-page>
</html>
