<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<city-page>
    <div class="top-pic swiper-container" id="city-page-swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" th:each="banner : ${cityPage.bannerVOList}">
                <a th:href="@{${banner.url}}">
                <img src = "#" th:src="@{${banner.img}}"/>
                </a>
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>

    <div class="text-context">
        <div class="one-line" th:each="item : ${cityPage.itemVOList}">
            <div class = "account-pic">
                <img th:src="@{${item.img}}" />
            </div>
            <div class="account-info">
                <div class="title" th:text="${item.title}">
                    上海发布
                </div>
                <div class="desc" th:text="${item.description}">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{${item.followLink}}">
                <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>

    </div>
</city-page>
</html>

