<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<city-page>
    <div class="top-pic swiper-container" id="city-page-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{http://mp.weixin.qq.com/s/mj7yklxsYuRGIqS7Yhn5aw}">
                <img src="http://i1.buimg.com/601291/509c91760a4c02f2t.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{http://mp.weixin.qq.com/s/RDBo7r5cYIzXVkIm6gsyYg}">
                <img src="http://i1.buimg.com/601291/78902124e99a20b0t.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{http://mp.weixin.qq.com/s/XX7Hw9gCJtV3abJ3frXlLA}">
                <img src="http://i1.buimg.com/601291/1ffa70c2e19ed0a3t.jpg"/>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="text-context">
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/15693bb86b6a9898.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海发布
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5NTA5NzYyMA==&amp;scene=124#wechat_redirect}">
                <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/84246f656a1ce945.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    浦东发布
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5MTQ5OTk3Mg==&amp;scene=124#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/edd30abbfd613c69.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    浦东党建
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzIyNTA3NTI1Nw==&amp;scene=124#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/2223c2d12adcf41e.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海天气
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzA5NjA5NTQxNA==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/b4449f0baf4218f6.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海地铁shmetro
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5NjI0NjgyMQ==&amp;scene=124#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/ef7fe7d5aa5abf4a.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海中心智库
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzI3MDQ3MjE0OA==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/805e430eec0ab54f.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    海尚风
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzI1MjA5NjUyMQ==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/4b1e54dcfaf7c9aa.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    青春上海
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5MzY4ODcyMA==&amp;scene=124#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/c872731a8cb9e397.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海女性
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MzAwODI3MTY4NQ==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/78e3bcbb39134e2a.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    申工社
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5ODMxNzE2NQ==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://i1.buimg.com/601291/ab8948038803450e.png" />
            </div>
            <div class="account-info">
                <div class="title">
                    第一教育
                </div>
                <div class="desc">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5Njg0ODc5NA==&amp;scene=123#wechat_redirect}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
    </div>
</city-page>
</html>

