
/****** content *********/
.content {
    margin-top: 0px;
}
.content table {
    width:  100%;
    align: center;
    border-spacing:10px;
}
.content table tr {
    text-align:center;
    width:  100%;
    height: 130px;
    color: #fff;
}
.content table td {
    border-radius: 10px;
    margin: 10px;
}

.content table tr td a {
    color: #fff;
}
