@charset "utf-8";
/* CSS Document */
/**{margin:0px; padding:0px;}*/
body{font-family:"宋体";}
.body_index{ background-color:#f9f8f8;}
.body_reg_login{ background-color:#f0f0f0;}
.body_lanmu{ background-color:#fdfdfd;}
.body_channel{ background-color:#f9f8f8;}
.body_article{ background-color:#f6f6f6;}
a{text-decoration:none; outline:none; noFocusLine: expression(this.onFocus = this.blur());}
input{-webkit-appearance:none;}
img{border:0px;}
.clear {clear:both;}
.fl{ float:left;}
.fr{ float:right;}

/*************通用的头部*******************/
.top_style_1{ width:100%; height:45px; background-color:#3ad168; position:relative; z-index:100;}
.top_style_2{ background-color:#d32f2f}
.top_style_3{ background-color:#202425}
.top_style_1_back{ width:25px; margin-left:25px; margin-top:14px;}
.top_style_1_back a{ width:25px; display:block;}
.top_style_1_back a img{ width:25px; height:17px;}
.top_style_1_logo{ width:35px; margin-left:15px; margin-top:5px;}
.top_style_1_logo a{ width:35px; display:block;}
.top_style_1_logo a img{ width:35px; height:35px;}
.top_style_1_title{ width:70%; margin:0 auto; padding-top:10px; font-size:20px; color:#FFF; text-align:center;}
.top_style_2_title{ width:80px; height:35px; margin:0 auto; text-align:center; font-size:13px; color:#5f5f5f;}
.top_style_2_title_border{ width:80px; height:25px; border:#5f5f5f 1px solid; border-radius:12px; -webkit-border-radius:12px; -moz-border-radius:12px;line-height:25px; position:relative; top:10px; cursor:pointer;}
.top_style_2_title img{ width:13px; height:13px; position:relative; top:2px;}
.top_style_2_title span{ font-size:13px; color:#5f5f5f;}

.top_style_1_person{ position:absolute; right:70px; top:12px;}
.top_style_1_person a{ width:21px; display:block;}
.top_style_1_person a img{ width:21px; height:21px;}
.top_style_1_menu{ width:25px; margin-top:-21px; margin-right:25px; position:relative; }
.top_style_1_menu a{ width:25px; display:block;}
.top_style_1_menu a img{ width:25px; height:19px; display:block;}

/*************注册*******************/
.form_reg{ width:305px; height:auto; margin:0 auto; margin-top:35px; padding-left:30px;}
.form_line{ display:block;}
.form_error{ margin-top:10px; margin-left:10px; width:200px; height:23px; font-size:12px; color:#ff0c0c; display:block;}
.form_error span{ display:block}
.form_error span.error_none{ display:none;}
.form_input_text{ float:left; width:250px;}
.form_input_text input{ width:240px; height:40px; padding-left:10px; border: 1px solid #ddd; font-size:17px;}
.verify_code input{ width:125px; float:left;}
.verify_code_a{ display:block; margin-left:6px; width:106px; height:42px; float:left;}
.verify_code_a input{ display:block; width:106px; height:42px; font-size:15px; color:#666; background-color:#f8f8f8;}
.form_input_text_check{ width:20px; height:20px; margin-left:8px; margin-top:10px;  background-size:cover;}
.form_input_text_right{background-image:url(../images/right.png);}
.form_input_text_wrong{background-image:url(../images/wrong.png);}
.license{ width:250px; height:22px; line-height:22px; margin-top:15px;}
.license img{display:block; float:left; width:22px; height:22px; cursor:pointer;}
.license span{ margin-left:8px; font-size:12px; color:#181818; float:left;}
.license a{ display:block; font-size:12px; color:#157efb;}
.form_reg_submit{ margin-top:25px; }
.form_reg_submit input{ width:250px; height:40px; background-color:#2b80b6; display:block; border:0px; font-size:17px; color:#fff; font-family:"黑体"; letter-spacing:6px;}
.reg_none{ width:100%; height:105px;}

/*************登陆*******************/
.login_div{ width:305px; height:15px; margin:0 auto; padding-left:30px; padding-bottom:30px;}
.login_div_reg_fgt{ width:250px; margin-top:20px;}
.login_div_reg{ display:block;}
.login_div_reg a{ font-size:14px; color:#3a6dac;}
.login_div_fgt{ display:block;}
.login_div_fgt a{ font-size:14px; color:#666;}
.login_other{ width:250px; margin-top:20px; padding-top:18px; padding-bottom:120px; border-top:#d2d2d2 1px solid;}
.login_other_text{ width:250px; font-size:14px; color:#666;}
.login_other_xl{ width:123px; margin-top:35px;}
.login_other_xl a{ width:65px; height:auto; display:block; margin-left:45px; margin-top:1px;}
.login_other_xl a img{ width: 36px; height:36px; margin-left:5px;}
.login_other_xl a div{ margin-top:10px; font-size:12px; color:#666;}
.login_other_qq{ width:123px; margin-top:35px;}
.login_other_qq a{ width:65px; height:auto; display:block; margin-left:45px;}
.login_other_qq a img{ width:38px; height:38px; margin-left:0;}
.login_other_qq a div{ margin-top:8px;  font-size:12px; color:#666;}

/*************触屏版_频道_栏目页*******************/
.lanmu_line{ height:82px; margin-left:10px; margin-right:10px; border-top:#eaeaea 1px solid;}
.lanmu_line_first{ border-top:none;}
.lanmu_line_img{ width:90px; height:63px; float:left; margin-right:15px;}
.lanmu_line_img a{ margin-top:10px; width:90px; height:63px; display:block;}
.lanmu_line_img img{ width:90px; height:63px;}
.lanmu_line_title{ margin-left:5px; padding-top:15px; }
.lanmu_line_title a{ display:block; line-height:25px; font-size:17px; color:#000;}
.more{ width:100%; height:45px; line-height:45px; background-color:#f2f2f2;}
.more a{ width:100%; text-align:center; font-size:14px; color:#a8a8a8; display:block;}
.loading{ width:100%; height:45px; line-height:45px; background-color:#f2f2f2; text-align:center; display:none;}
.loading img{ width:20px; height:20px; position:relative; top:5px;}
.loading span{ margin-left:16px; font-size:14px; color:#a8a8a8;}

/*************通用的低部*******************/
.foot{ margin-top:20px; width:100%; height:75px; background-color:#0a70b1;}
.foot_2{ background-color:#d32f2f;}
.foot_3{ background-color:#202425;}
.foot_more{ margin-top:0px;}
.foot_bottom{ margin-bottom:50px;}
.foot_type{ margin:0 auto; width:65%;}
.foot_type a{ margin-top:20px; width:31%; display:block; float:left; text-align:center; border-right:#FFF 1px solid; color:#fff; font-size:14px;}
.foot_type a.foot_type_a_last{border-right:none;}
.foot_copyRight{ margin:0 auto; padding-top:8px; width:110px; font-size:12px; color:#fff;}

/*************触屏版_图集列表页*******************/
.img_list{ margin-left:10px; margin-top:10px; margin-right:10px;}
.img_list_img{ width:100%; height:auto;}
.img_list_img a{ width:100%; height:auto; display:block;}
.img_list_img a img{ width:100%; height:auto;}
.img_list_title{ margin-top:10px; width:100%; height:20px;}
.img_list_title a{ line-height:20px; font-size:16px; color:#181818;}
.img_list_date{ margin-top:5px; margin-left:3px; width:100%; height:25px; font-size:11px; color:#888;}
.img_list_line{ width:100%; height:11px; background-color:#f0f0f0; border-top:#d5d5d5 1px solid; border-bottom:#d5d5d5 1px solid;}

/*************触屏版_频道页*******************/
.channel_list_type{ height:auto; text-align:center; background-color:#f4f4f4;}
.channel_list_type_line{ width:100%; display:block;}
.channel_list_type_line a{ margin-left:15px; margin-right:15px; height:30px;line-height:30px; color:#000; font-size:15px; display:block; float:left;}

/*************banner*******************/
.banner{ width:100%; height:auto; position:relative;}
.banner .swiper-slide{ position:relative; width:100%;}
.banner .swiper-slide img{ margin:0 auto; display:block; width:100%; height:auto;}
.banner_line_title{ width:100%; height:25px; position:absolute; background-image:url(../images/banner/bg.png);}
.banner_line_title span{ margin-left:15px; margin-top:3px; width:100%; height:14px; display:block; font-size:14px; color:#fffefe; }

.banner .swiper-container{height:150px;}

.banner_icon{ position:absolute; float:right; bottom:10px; right:8px; z-index:10;}
.banner_icon_ul{ display:block;}
.banner_icon_ul li{ width:6px; height:6px; display:block; float:left; margin-left:5px;}
.banner_icon_ul li img{ width:6px; height:6px; display:block;}

.channel_top_title{ margin-top:16px; margin-left:25px; margin-right:25px; text-align:center;}
.channel_top_title a{ font-size:19px; display:block; color:#000;}
.channel_top_title_2{ margin-top:10px; margin-left:10px; margin-right:10px; text-align:center;}
.channel_top_title_2 a{ font-size:13px; display:inline; color:#444;}
.channel_title_list{ margin-left:10px; margin-top:10px; margin-right:10px;}
.channel_title_list_line{ margin-left:5px; margin-right:5px; width:100%; height:35px; line-height:30px;}
.channel_title_list_line_title{ float:left;}
.channel_title_list_line_title a{ font-size:18px; color:#181818;}
.channel_title_list_line_img{ float:left; margin-left:10px; margin-top:3px;}
.channel_title_list_line_img.cehua img{ width:25px; height:16px;}
.channel_title_list_line_img.img_thumb img{ width:13px; height:13px;}

.search{ margin-left:10px; margin-top:8px; margin-right:10px; height:40px; border:#cddcf5 1px solid; position:relative;}
.search_text{ height:25px; margin-top:7px; margin-right:75px; border-right:#cddcf5 1px solid;}
.search_text input{ padding-left:10px; height:25px; width:95%; border:none; background-color:#f9f8f8;}
.search_button{ height:25px; width:60px; position:absolute; right:0px; top:7px;}
.search_button a{ height:25px; width:60px; display:block; color:#cddcf5; font-size:19px; font-weight:bold;}

.channel_name{ margin-left:10px; margin-top:20px; margin-right:10px; height:45px; line-height:45px; border:#d0d0d0 1px solid; background-color:#fff;}
.channel_name_icon{ margin-left:8px; margin-top:-3px; width:6px; height:6px; float:left;}
.channel_name_icon img{ width:6px; height:6px;}
.channel_name_text{ margin-left:22px; font-size:20px;}

.huanqiushijue{/**margin-left:10px;margin-right:10px; **/ margin-top:10px; height:30px; border-bottom:#d32f2f 2px solid;}
.huanqiushijue2{ border-bottom:#0a70b1 2px solid;}
.huanqiushijue img{ height:30px; width:96px;}
.huanqiushijue_img_list{/** margin-left:10px; margin-right:10px;**/}
.huanqiushijue_img_list_line{ width:100%; margin-top:12px; background-color:#f9f8f8;}
.huanqiushijue_img_list_line_left{ float:left; position:relative; width:47.5%;}
.huanqiushijue_img_list_line_left a{ width:100%; display:block;}
.huanqiushijue_img_list_line_left a img{ width:100%; }
.huanqiushijue_img_list_line_right{ float:right; position:relative; width:47.5%;}
.huanqiushijue_img_list_line_right a{ width:100%; display:block;}
.huanqiushijue_img_list_line_right a img{ width:100%; }
.huanqiushijue_img_list_line_title{ width:100%; height:20px; bottom:5px; position:absolute;  background-image:url(../images/bg.png); }
.huanqiushijue_img_list_line_title span{ height:20px; line-height:20px; display:block; text-align:center; font-size:12px; color:#FFF;}

/*************触屏版_文章页*******************/
.article_title{ margin-left:10px; margin-top:18px; margin-right:10px; line-height:33px; font-size:23px;}
.article_date{ margin-left:10px; margin-right:10px; margin-top:20px; height:16px; line-height:16px;}
.article_date_l{ font-size:11px; color:#acacac;}
.article_date_r{ height:16px; }
.article_date_r img{ width:16px; height:16px; display:block; float:left;}
.article_date_r span{ margin-left:10px; margin-top:3px; font-size:11px; color:#ad1815; display:block; float:left;}
.article_intro{ margin-left:10px; margin-right:10px; margin-top:15px; padding:5px; border:#e3e3e3 1px solid; line-height:25px; font-size:15px; color:#555; background-color:#fff;}
.article_content{ margin-left:10px; margin-right:10px; margin-top:10px; line-height:30px; font-size:17px; color:#333;}
.article_content p{ /**text-indent:2em;**/ margin-top:10px;}
.article_content p  a{color:#333;}
.article_content a{color:#333;}

.ad{ height:auto; /*margin-left:10px; margin-right:10px;**/* margin-top:15px; position:relative; margin-left:10px; margin-right:10px; }
.ad a{ display:block; width:100%; height:auto;}
.ad a img{ width:100%; height:auto;}
.ad img.ad_icon{ height:17px; width:31px; position:absolute; bottom:5px; right:0px;}
.ad_text{ margin-left:10px; margin-right:10px; margin-top:10px; height:50px; line-height:50px; font-size:18px; color:#181818; text-align:center; border:#e4e4e4 1px solid;}

.show_more{ margin-left:10px; margin-right:10px; margin-top:20px;}
.show_more a{ width:120px; height:25px; line-height:25px; text-align:center; display:block; margin:0 auto; background-color:#f0f0f0; font-size:15px; color:#888;}
.show_more a img{ width:7px; height:5px; margin-left:10px; position:relative; top:-2px;}

.article_xiangguanyuedu{ margin-left:10px; margin-right:10px; margin-top:15px; border:#eaeaea 1px solid; background-color:#fff;}
.article_xiangguanyuedu_title{ height:40px; line-height:40px; padding-left:15px; font-size:20px; background-color:#f9f9f8; border-bottom:#eaeaea 1px solid;}
.article_xiangguanyuedu_line{ margin-right:5px; height:40px; line-height:40px; padding-left:10px; border-top:#c8c8c8 1px dotted;}
.article_xiangguanyuedu_line a{ font-size:18px; color:#444;}
.article_xiangguanyuedu_line_first{ border-top:none;}

.article_zuixinpinglun{ margin-left:10px; margin-right:10px; margin-top:10px; border:#eaeaea 1px solid;}
.article_zuixinpinglun_title{ height:40px; line-height:40px; padding-left:15px; font-size:20px; background-color:#f9f9f8; border-bottom:#eaeaea 1px solid;}
.article_zuixinpinglun_title img{ width:30px; height:15px; margin-left:7px;}
.article_zuixinpinglun_line{ width:98%; margin:0 auto; border-bottom:#c8c8c8 1px dotted; background-color:#fff;}
.article_zuixinpinglun_line_name{ padding-left:15px; padding-left:15px; padding-top:10px; height:30px; line-height:30px;}
.article_zuixinpinglun_line_name span{ font-size:15px; display:block; float:left;}
.article_zuixinpinglun_line_name img{ height:15px; width:9px; margin-left:15px; display:block; float:left; position:relative; top:6px;}
.article_zuixinpinglun_line_time{ float:right; margin-right:15px; font-size:12px; color:#acacac;}
.article_zuixinpinglun_line_content{ margin-left:10px; margin-right:10px; font-size:15px; color:#575757; line-height:25px;}
.article_zuixinpinglun_line_zan{ margin-right:15px; width:85; height:10px; float:right;}
.article_zuixinpinglun_line_zan_icon{ float:left; display:block;}
.article_zuixinpinglun_line_zan_icon img{ height:16px; width:16px; display:block; float:left;}
.article_zuixinpinglun_line_zan_icon span{ margin-left:5px; float:left; display:block; font-size:12px; color:#00408e; position:relative; top:2px;}
.article_zuixinpinglun_line_comment_icon{ float:left; display:block; margin-left:20px;}
.article_zuixinpinglun_line_comment_icon img{height:16px; width:16px; display:block;}
.article_zuixinpinglun_more{width:100%; height:40px;}
.article_zuixinpinglun_more a{ margin-left:3px; margin-right:3px; margin-top:3px; height:34px; line-height:34px; text-align:center; font-size:15px; color:#444; background-color:#f0f0f0; display:block; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}

.article_lanmu{ width:100%; margin-top:15px; height:74px; border-top:#e5e5e5 1px solid;}
.article_lanmu_line{ height:15px; line-height:15px; margin-top:17px;}
.article_lanmu_line a{ display:block; float:left; width:16.4%; height:15px; line-height:15px; margin-top:5px; text-align:center; font-size:15px; color:#181818; border-left:#cbcbcb 1px solid;}
.article_lanmu_line a.article_lanmu_line_a_first{ border-left:none;}
.article_lanmu_line a.article_lanmu_line_a_2{ width:32.8%;}
 
.article_share{ width:100%; height:50px; position:fixed; bottom:0px; background-color:#f1f1f1;}
.article_share_form{ /*margin-left:10px; margin-right:10px; margin-top:10px;*/}
.article_share_input{ height:30px; width:50%;}
.article_share_input_div{height:30px; line-height:30px; width:100%; padding-left:10px; border:#e0e0e0 1px solid; color:#ccc; font-size:15px; background-color:#fff;}
.article_share_number{ width:20%; height:30px; margin-left:5%; background-color:#fff; border:#e0e0e0 1px solid; }
.article_share_number img{ width:16px; height:16px; margin-top:8px; margin-left:14px; float:left;}
.article_share_number span{ display:block; width:20px; height:16px; margin-top:8px; margin-left:10%; float:left; text-align:center; font-size:12px; color:#444;}
.article_share_button{ width:20%; height:30px; margin-right:0px; background-color:#2b80b6; font-size:16px; color:#FFF; text-align:center; line-height:30px; cursor:pointer;}
 
.article_comment{ width:100%; height:190px; position:fixed; bottom:0px; background-color:#f1f1f1; display:none;}
.article_comment_button{ margin-left:10px; margin-right:10px; height:61px;}
.article_comment_button_cancel{ /*margin-top:16px; width:50px; height:30px; float:left; background-color:#cacaca; color:#fff; text-align:center; line-height:30px; cursor:pointer;*/}
.article_comment_button_ok{/* margin-top:16px; width:50px; height:30px; float:right; background-color:#2b80b6; color:#fff; text-align:center; line-height:30px; cursor:pointer;*/}
.article_comment_textarea{ margin-left:10px; margin-right:35px;}
.article_comment_textarea textarea{ height:60px; width:100%; resize:none; padding:10px;}
.article_comment_foot{ margin-left:10px; margin-right:10px; height:50px;}
.article_comment_foot_left{ float:left; margin-top:15px; height:13px; line-height:13px; font-size:12px;}
.article_comment_foot_left span{ height:13px; line-height:13px; background-color:#ff9600; padding-left:7px; padding-right:7px; font-size:10px; color:#fff; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}
.article_comment_foot_left img{ height:13px; width:2px; margin-right:6px; position:relative; top:3px;}
.article_comment_foot_right{ float:right; margin-top:15px; height:15px; width:72px;}
.article_comment_foot_right a{ font-size:15px; color:#023f8f; width:35px; float:left;}
.article_comment_foot_right_a_last{ text-align:right; border-left:#a5a5a5 1px solid;}

.article_share_view{ width:100%; height:160px; position:fixed; bottom:0px; background-color:#f1f1f1; display:none;}
.article_share_view_line{ height:100px;}
.article_share_view_line_1{ margin:0 10px;}
.article_share_view_line_1 a{ height:60px; width:25%; margin-top:25px; display:block; float:left;}
.article_share_view_line_1 a img{ margin:0 auto; display:block; height:40px; width:40px;}
.article_share_view_line_1 a span{ margin-top:10px; text-align:center; display:block; font-size:10px; color:#888;}
.article_share_view_line_2{ margin:0 10px;}
.article_share_view_line_2 a{ height:60px; width:25%; margin-top:25px; display:block; float:left;}
.article_share_view_line_2 a img{ margin:0 auto; display:block; height:40px; width:40px;}
.article_share_view_line_2 a span{ margin-top:10px; text-align:center; display:block; font-size:10px; color:#888;}
.article_share_view_cancel{ margin: 0 30px; height:50px; line-height:50px; text-align:center; border-top:#d2d2d2 1px solid;}
.article_share_view_cancel a{ letter-spacing:10px; font-size:19px; color:#666;}

/*************触屏版_首页*******************/
.index_lanmu{ width:100%; height:70px; background-color:#fff;}
.index_lanmu_line{ height:30px; vertical-align:bottom;}
.index_lanmu_line a{ display:block; float:left; width:16%; height:15px; line-height:15px; margin-top:15px; text-align:center; font-size:15px; font-weight:bold; color:#181818; border-left:#cbcbcb 1px solid;}
.index_lanmu_line a.index_lanmu_line_a_first{ border-left:none;}

.index_huanqiuyaowen2{ margin-left:0px; margin-right:0px; margin-top:10px;}
.index_huanqiuyaowen3{ margin-top:10px;}
.index_huanqiuyaowen{}
.index_huanqiuyaowen_title{ height:40px; line-height:40px; padding-left:8px; border:#eaeaea 1px solid; background-color:#fff;}
.index_huanqiuyaowen_title_2{ margin-top:10px; height:30px; line-height:30px; font-size:20px; color:#181818; text-align:center; background-color:#f9f8f8;}
.index_huanqiuyaowen_title_intro{ /**margin-left:8px;**/width:100%;  margin-top:17px; background-color:#f9f8f8;}
.index_huanqiuyaowen_title_intro_img{ width:30%; height:auto; float:left; }
.index_huanqiuyaowen_title_intro_img img{ width:100%; height:auto;}
.index_huanqiuyaowen_title_intro_content{ width:68%; height:auto; line-height:20px; float:right; display:block; font-size:13px; color:#666;}

.index_huanqiuyaowen_title_img{ margin-top:17px; width:7px; height:7px; display:block; background-color:#64a8d4;}
.index_huanqiuyaowen_title_img_junshi{ background-color:#ad1815;}
.index_huanqiuyaowen_title_text{ margin-left:8px; font-size:20px;}
.index_huanqiuyaowen_title_en{ margin-left:9px; margin-top:5px; height:10px; color:#64a8d4; font-size:10px;}
.index_huanqiuyaowen_title_en_junshi{ color:#bb3a37;}
.index_huanqiuyaowen_line{ margin-left:5px; margin-right:5px; margin-top:20px; height:18px; line-height:18px;}
.index_huanqiuyaowen_line a{ font-size:18px; color:#444;}
.index_huanqiuyaowen_line_pinglun{ display:block;}
.index_huanqiuyaowen_line_pinglun span{ font-size:10px; color:#999; margin-right:5px; display:block; float:left;}
.index_huanqiuyaowen_line_pinglun img{ width:10px; height:10px; margin-top:5px; display:block; float:left;}
.index_huanqiuyaowen_line_pinglun_cehua img{ width:25px; height:16px; margin-top:10px;}

/**
.dujiapinglun{ margin-left:10px; margin-right:10px; margin-top:15px;}
**/
.dujiapinglun{ margin-right:10px; margin-top:15px;}

.dujiapinglun_title{ width:100%;}
.dujiapinglun_title img{ width:101px; height:20px;}
.dujiapinglun_content{ margin-top:10px; padding:10px; border:#e3e3e3 1px solid; background-color:#fff;}
.dujiapinglun_line{ height:25px; width:100%; padding-top:5px;}
.dujiapinglun_line img{ height:18px; width:auto; display:block; float:left;}
.dujiapinglun_line a{ margin-left:10px; display:block; float:left; font-size:16px; color:#181818;}

.jinrupindao{ width:100%; height:35px; margin-top:10px;}
.jinrupindao a{ margin:0 auto; width:55%; height:35px; line-height:35px; font-size:15px; color:#444; background-color:#eee; display:block; text-align:center; border-radius:25px; -webkit-border-radius:25px; -moz-border-radius:25px;}

/*************触屏版_图集相关图集*******************/
.xiangguantuji{ margin-left:10px; margin-right:10px; margin-top:10px;}
.xiangguantuji span{ display:block; float:left; font-size:15px; color:#bbb;}
.xiangguantuji a{ width:74px; height:28px; line-height:28px; text-align:center; display:block; float:right; font-size:14px; color:#bbb; background-color:#222627;}

.img_list_page{ background-color:#17191a;}
.img_list_page_img{ margin-left:10px; margin-right:10px; margin-top:30px;}
.img_list_page_img_line{ width:100%; margin-top:12px;}
.img_list_page_img_line_left{float:left; position:relative; width:48%;}
.img_list_page_img_line_left a{ width:100%; display:block;}
.img_list_page_img_line_left a img{ width:100%; }
.img_list_page_img_line_right{ float:right; position:relative; width:48%;}
.img_list_page_img_line_right a{ width:100%; display:block;}
.img_list_page_img_line_right a img{ width:100%; }
.img_list_page_img_line_title{ margin-left:10px; margin-right:10px; text-align:center; height:40px;}
.img_list_page_img_line_title a{ height:40px; margin-top:8px; display:block; vertical-align:bottom; text-align:center; font-size:13px; color:#fff;}

.img_list_share_view{ width:127px; height:158px; background-image:url(../images/icon/26.png); position:absolute; z-index:10; top:35px; left:-100px; padding-top:5px; display:none;}
.img_list_share_view_line{ width:70px; height:38px; line-height:40px; position:relative; left:37px; text-align:center;}
.img_list_share_view_line a{ width:70px; height:38px; line-height:40px; display:block; font-size:16px; color:#a1a1a1;}

.img_list_zanwu{ width:85px; height:85px; margin:0 auto; margin-top:50px;}
.img_list_zanwu img{ margin:0 auto; width:77px; height:61px; display:block;}
.img_list_zanwu span{ margin-top:5px; font-size:14px; color:#323131; display:block;}

.tuijiantuji{ margin-left:10px; margin-right:10px; margin-top:35px; border-bottom:#1f1f1f 1px solid; margin-bottom:-20px;}
.tuijiantuji span{ width:55px; height:18px; line-height:18px; display:block; background-color:#1f1f1f; font-size:12px; color:#a1a1a1; text-align:center;}

/*************触屏版_图集详情页*******************/
/**
.img_list_page_hide{ display:none;}
.img_list_page_line_html{ display:none;}
.img_list_page_line img{ width:96%; height:auto; margin-top:6px; cursor:pointer;}

.img_list_page_left{ width:50%; float:left; display:none;}
.img_list_page_left img{ float:right; margin-right:3px;}
.img_list_page_right{ width:50%; float:right; display:none;}
.img_list_page_right img{ float:left; margin-left:3px;}

.img_list_banner_line_hide{ display:none;}
.img_list_banner_line_hide_title{ display:none;}
.img_list_banner_line_hide_content{ display:none;}
.img_list_banner{ display:block;}
.img_list_banner .swiper-slide{ position:relative; width:100%;}
.img_list_banner .swiper-slide img{ margin:0 auto; display:block;}

.img_list_pinglun{ width:140px; height:28px; position:absolute; right:15px; z-index:10; top:60px; display:block;}
.img_list_pinglun span{ font-size:13px; color:#bbb; background-color:#2a211d; opacity:0.8; text-align:center; float:left; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; cursor:pointer;}
.img_list_pinglun_text{ width:70px; height:28px; line-height:28px; margin-right:10px; }
.img_list_pinglun_img{ width:60px; height:28px; line-height:28px;}
.img_list_pinglun_img img{ width:16px; height:16px; display:block; float:left; position:relative; top:7px; left:5px;}

.img_list_banner_foot{ width:100%; height:auto; position:fixed; bottom:0px; display:block; z-index:100;}
.img_list_banner_text{ width:100%; height:auto; background-color:#000; opacity:0.8;}
.img_list_banner_text_title{ margin-left:15px; padding-top:10px; letter-spacing:2px; font-size:15px; color:#ddd;}
.img_list_banner_text_content{ margin-left:15px; margin-top:5px; margin-right:15px; padding-bottom:15px; line-height:20px; letter-spacing:1px; font-size:12px; color:#ddd; overflow:hidden;}
.img_list_banner_button{ width:100%; height:45px; background-color:#292d2e;}
.img_list_banner_button a{margin-top:16px; margin-right:15px; width:75px; height:13px; line-height:13px; display:block; float:right; font-size:13px; color:#ddd; border-left:#ddd 1px solid; text-align:center;}

.all_lanmu{ width:100%; position:absolute; background-color:#f6f6f6; padding-bottom:15px; cursor:pointer; display:none; z-index:200;}
.all_lanmu_first_line{ height:40px; background-color:#f6f6f6; border-bottom:#e3e3e3 1px solid;}
.all_lanmu_first_line_span_all{ margin-left:15px; margin-top:13px; font-size:15px; color:#666; display:block; float:left;}
.all_lanmu_first_line_span_button{ width:40px; height:40px; float:right; background-color:#e3e3e3;}
.all_lanmu_first_line_span_button img{ margin-top:15px; margin-left:13px; width:13px; height:10px;}
.all_lanmu_content{ margin-left:10px; margin-right:10px; text-align:center;}
.all_lanmu_line{ width:100%; margin-top:15px; display:block; background-color:#fdfdfd;}
.all_lanmu_line a{ margin-top:5px; height:35px; width:65px; line-height:35px; background-color:#fff; border:#e3e3e3 1px solid; color:#666; font-size:15px; display:inline-block; text-align:center;}
.all_lanmu_line a.all_lanmu_line_a_2{ width:140px;}

.overlayer{ position:absolute; top:44px; left:0; z-index:90; width:100%; height:100%; background-color:#000; filter:alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6; display:none;}

.xiangguantuji_hidden{ display:none;}
**/

/*************触屏版_图集详情页*******************/
.img_list_page_hide{ display:none;}
.img_list_page_line_html{ display:none;}
.img_list_page_line img{ width:96%; height:auto; margin-top:6px; cursor:pointer;}

.img_list_page_left{ width:50%; float:left; display:none;}
.img_list_page_left img{ float:right; margin-right:3px;}
.img_list_page_right{ width:50%; float:right; display:none;}
.img_list_page_right img{ float:left; margin-left:3px;}

.img_list_banner_line_hide{ display:none;}
.img_list_banner_line_hide_title{ display:none;}
.img_list_banner_line_hide_content{ display:none;}
.img_list_banner{ display:block;}
.img_list_banner .swiper-slide{ position:relative; width:100%;}
.img_list_banner .swiper-slide img{ width:95%;margin:0 auto; display:block;}

.img_list_top{ position:fixed; width:100%; display:block; z-index:100;}
.img_list_pinglun{ width:140px; height:28px; position:relative; right:15px; z-index:10; top:10px; display:block; float:right;}
.img_list_pinglun span{ font-size:13px; color:#bbb; background-color:#2a211d; opacity:0.8; text-align:center; float:left; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; cursor:pointer;}
.img_list_pinglun_text{ width:70px; height:28px; line-height:28px; margin-right:10px; }
.img_list_pinglun_img{ width:60px; height:28px; line-height:28px;}
.img_list_pinglun_img img{ width:16px; height:16px; display:block; float:left; position:relative; top:7px; left:5px;}

.img_list_banner_foot{ width:100%; height:auto; position:fixed; bottom:0px; display:block; z-index:100;}
.img_list_banner_text{ width:100%; height:auto; background-color:#000; opacity:0.8;}
.img_list_banner_text_title{ margin-left:15px; padding-top:10px; letter-spacing:2px; font-size:15px; color:#ddd;}
.img_list_banner_text_content{ height:28px; margin-left:15px; margin-top:5px; margin-right:15px; padding-bottom:15px; line-height:20px; letter-spacing:1px; font-size:12px; color:#ddd; overflow:hidden;}
.img_list_banner_button{ width:100%; height:45px; background-color:#292d2e;}
.img_list_banner_button a{margin-top:16px; margin-right:15px; width:75px; height:13px; line-height:13px; display:block; float:right; font-size:13px; color:#ddd; border-left:#ddd 1px solid; text-align:center;}

.all_lanmu{ width:100%; position:absolute; background-color:#f6f6f6; padding-bottom:15px; cursor:pointer; display:none; z-index:200;}
.all_lanmu_first_line{ height:40px; background-color:#f6f6f6; border-bottom:#e3e3e3 1px solid;}
.all_lanmu_first_line_span_all{ margin-left:15px; margin-top:13px; font-size:15px; color:#666; display:block; float:left;}
.all_lanmu_first_line_span_button{ width:40px; height:40px; float:right; background-color:#e3e3e3;}
.all_lanmu_first_line_span_button img{ margin-top:15px; margin-left:13px; width:13px; height:10px;}
.all_lanmu_content{ margin-left:10px; margin-right:10px; text-align:center;}
.all_lanmu_line{ width:100%; margin-top:15px; display:block; background-color:#fdfdfd;}
.all_lanmu_line a{ margin-top:5px; height:35px; width:65px; line-height:35px; background-color:#fff; border:#e3e3e3 1px solid; color:#666; font-size:15px; display:inline-block; text-align:center;}
.all_lanmu_line a.all_lanmu_line_a_2{ width:140px;}

.overlayer{ position:absolute; top:44px; left:0; z-index:90; width:100%; height:100%; background-color:#000; filter:alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6; display:none;}

.xiangguantuji_hidden{ display:none;}

/*头条样式*/
 .p_topline{text-align:center;padding-bottom:8px}
 .p_topline_h2{font-size:18px;padding:8px 0 4px}
 .p_topline_h2 a{color:#1c1c1c}
.p_topline_mate{font-size:14px;padding-bottom:2px}
.p_topline_mate a{color:#6c6c6c;margin:0 4px;font-size:14px;}


.messageBox .btnSub ,.page .btnGo ,.speak .btnSpeak { width:70px; height:30px; line-height:30px; border:#d4d4d4 1px solid; font-size:14px; color:#333; margin:5px 0 5px;
-webkit-box-align: center;
-moz-box-align: center;
-ms-box-align: center;
box-align: center;
background-image: -webkit-gradient(linear,q90% 0,50% 100%,color-stop(0%,#323335),color-stop(100%,#2b2728));
background-image: -webkit-linear-gradient(top,#f7f9fb,#e7ebf2);
background-image: -moz-linear-gradient(top,#f7f9fb,#e7ebf2);
background-image: -o-linear-gradient(top,#f7f9fb,#e7ebf2);
background-image: linear-gradient(top,#f7f9fb,#e7ebf2);
background-size: 100%;
background-position: left top;
background-repeat: repeat-x;	
}




/*
.article_comment_new{margin-left:15px; margin-right:15px; margin-top:5px; width:100%; height:160px;  bottom:0px; background-color:#FFFFFF; }
.article_comment_new_button{ margin-left:15px; margin-right:15px; height:61px;}
.article_comment_new_button_cancel{ margin-top:16px; width:50px; height:30px; float:left; background-color:#cacaca; color:#fff; text-align:center; line-height:30px; cursor:pointer;}
.article_comment_new_button_ok{ margin-left:-11px; margin-top:16px; width:50px; height:30px; float:left; background-color:#2b80b6; color:#fff; text-align:center; line-height:30px; cursor:pointer;}
.article_comment_new_textarea{ margin-left:1px; margin-right:35px;}
.article_comment_new_textarea textarea{margin-top:16px;  height:60px; width:98%;padding:10px;}
.article_comment_new_foot{ margin-left:15px; margin-right:15px; height:50px;}
.article_comment_new_foot_left{ float:left; margin-top:15px; height:13px; line-height:13px; font-size:12px;}
.article_comment_new_foot_left span{ height:13px; line-height:13px; background-color:#ff9600; padding-left:7px; padding-right:7px; font-size:10px; color:#fff;  }
.article_comment_new_foot_left img{ height:13px; width:2px; margin-right:6px; position:relative; top:3px;}
.article_comment_new_foot_right{ float:right; margin-top:15px; height:15px; width:72px;}
.article_comment_new_foot_right a{ font-size:15px; color:#023f8f; width:35px; float:left;}
.article_comment_new_foot_right_a_last{ text-align:right; border-left:#a5a5a5 1px solid;}

*/


.article_comment_new{ margin-left:10px; margin-right:10px; margin-top:10px; height:150px; margin-top:5px;  bottom:0px; background-color:#f1f1f1; }
.article_comment_new_button{ margin-left:10px; margin-right:10px; height:61px;}
.article_comment_new_button_cancel{ margin-top:16px; width:50px; height:30px; float:left; background-color:#cacaca; color:#fff; text-align:center; line-height:30px; cursor:pointer;}
.article_comment_new_button_ok{ margin-top:16px; width:50px; height:30px; float:right; background-color:#2b80b6; color:#fff; text-align:center; line-height:30px; cursor:pointer;}
.article_comment_new_textarea{ margin-left:10px; margin-right:35px;}
.article_comment_new_textarea textarea{ margin-top:10px; height:60px; width:100%; resize:none; padding:10px;}
.article_comment_new_foot{ margin-left:10px; margin-right:10px; height:50px;}
.article_comment_new_foot_left{ float:left; margin-top:15px; height:13px; line-height:13px; font-size:12px;}
.article_comment_new_foot_left span{ height:13px; line-height:13px; background-color:#ff9600; padding-left:7px; padding-right:7px; font-size:10px; color:#fff; }
.article_comment_new_foot_left img{ height:13px; width:2px; margin-right:6px; position:relative; top:3px;}
.article_comment_new_foot_right{ float:right; margin-top:15px; height:15px; width:72px;}
.article_comment_new_foot_right a{ font-size:15px; color:#023f8f; width:35px; float:left;}
.article_comment_new_foot_right_a_last{ text-align:right; border-left:#a5a5a5 1px solid;}



.ad2{ height:auto; }
.aad2d a{display:block; width:100%; height:auto;}
.ad2 a img{ width:100%; height:auto;}
.ad2 img.ad_icon{ height:17px; width:31px; position:absolute; bottom:5px; right:0px;}
.ad2_text{ height:50px; line-height:50px; font-size:18px; color:#181818; text-align:center; border:#e4e4e4 1px solid;}



/*share 分享*/
.newsBox .share {
	text-align:center;
}

.newsBox .share p {
	border:1px solid #cfd8dc;
	display:inline-block;
	text-indent:0;
	padding:0;
	width:25%;
	height:34px;
	background:url(../images/bgS.png) no-repeat;
	background-size:250px 250px;
}

.newsBox .share .f1 {
	background-position:-201px -105px;
	background-color:#fff;
}

.newsBox .share .f2 {
	background-position:-201px -144px;
	background-color:#fff;
}


.shareBox {

	
 
}
.shareBox ul {
	 
}

.shareBox p {
	 
}

.shareBox li {
 
}
.article_share_view_line_1{ margin:0 10px;}
.article_share_view_line_1 li {
	display: inline-block;
	 
	overflow: hidden;
}
.coll_bg {
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:2;
}
 .img_list_pinglun span a{ font-size:13px; color:#bbb;}
 .channel_ad_title_list{ margin-left:10px;  margin-right:10px;}

.swiper-slide_img {width:90%;}
.hot h2{font-size:16px;line-height:16px;padding:0 17px 0 32px;margin:10px 0;color:#777;position:relative}
.hot .hot_more{position:absolute;right:20px;color:#b1b1b1;line-height:38px}
.hot ul{margin:12px;max-height:132px;overflow:hidden;font-size:0;text-align:center}
.hot li{display:inline-block;margin:1px;height:34px;line-height:34px;border-radius:7px;width:40%;position:relative;overflow:hidden}
.hot li:active .mask{background-color:rgba(0,0,0,.3);opacity:.8;border-radius:7px}
.hot li a{display:block;padding:0 5px;font-size:12px;color:#fff}
.hot li:nth-child(6n+1){background-color:#a7cf5f}
.hot li:nth-child(6n+2){background-color:#f49097}
.hot li:nth-child(6n+3){background-color:#f6c95c}
.hot li:nth-child(6n+4){background-color:#69c4e7}
.hot li:nth-child(6n+5){background-color:#6ad3b9}
.hot li:nth-child(6n+6){background-color:#ec91c7}
.mark{position:absolute;left:18px;top:0;bottom:0;width:4px;background-color:#3c8de7}
/**
	
.article_share_view{ width:100%; height:160px; position:fixed; bottom:0px; background-color:#f1f1f1; display:none;}
.article_share_view_line{ height:100px;}
  


.sogou_logo {
width: 30px;
height: 30px;
margin-bottom: 0;
margin-top: 10px;
float: left;
margin-right: 5px;
background: url(/wap/images/sogou_logo.png) no-repeat;
-webkit-background-size: 20px 20px;
-moz-background-size: 20px 20px;
background-size: 20px 20px;
}

 
 

.sogouhot  a {
margin-right: 20px;
color: #1b1b1b;
}



/**搜狗搜索框* 
.search-form {
background-color: #fff;
-webkit-border-radius: 1px;
height: 38px;
line-height: 38px;
display: -webkit-box;
position: relative;
border: 1px solid #d1d1d1;
}
.sogou {
background: rgba(0,0,0,0) url(/wap/images/sogou_logo.png) no-repeat 0 center;
-webkit-background-size: 21px 22px;
display: inline-block;
height: 38px;
width: 22px;
}
.search-input {
border: 0 none;
-webkit-box-flex: 1;
display: block;
height: 38px;
font-size: 15px;
color: #1d1d1d;
}
.search-btn {
width: 48px;
height: 38px;
line-height: 38px;
border: 0 none;
border-left: 1px solid #d1d1d1;
background: #f9f9f8 url(/wap/images/sougou.png) no-repeat center;
-webkit-background-size: 21px 22px;
color: #000;
font-size: 16px;
font-weight: bold;
}

.sogou-search {
margin: 0 10px 0px 10px;
}*/
.sogou_logo {
width: 30px;
height: 30px;
margin-bottom: 0;
margin-top: 10px;
float: left;
background: url(/wap/images/sogou_logo.png) no-repeat;
-webkit-background-size: 20px 20px;
-moz-background-size: 20px 20px;
background-size: 20px 20px;
}
.sogouhot{
width:100%;
overflow:hidden;
}

 
.search-form {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  height: 38px;
  line-height: 38px;
  position: relative;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;       
}
.search-logo {
  display: inline-block;
  height: 38px;
  justify-content: center;
  line-height: 38px;
  padding: 0 7px 0 10px;
  position: absolute;
}
.sogou {
    background: rgba(0, 0, 0, 0) url("/wap/images/sogou_logo.png") no-repeat scroll 0 center / 21px 22px;
    display: inline-block;
    height: 38px;
    width: 40px;
}
.search-input {
  border: 0 none;
  color: #595959;
  display: inline-block;
  font-size: 15px;
  height: 38px;
  width: 100%;
  padding: 0px 48px 0px 40px;
  
}
.search-input-content {
  border: 0 none;
  color: #595959;
  display: inline-block;
  font-size: 15px;
  height: 38px;
  width: 100%;
  padding: 0px 48px 0px 0px;
  
}

.sogouhot a{ margin-right: 20px;line-height:30px;font-size:18px; color:#444;}
.search-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f9f9f8 url("/wap/images/sougou.png") no-repeat scroll center center / 21px 22px;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #d1d1d1;
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    width: 48px;
      position: absolute;
  top: 0px;
  right: 0px;
}
.article_share_input_div_new{  width:100%;    color:#ccc; font-size:15px; }
