.slide-wrap {
  width: 100%;
  height: auto;
  position: relative;
}
.slide-wrap .slider {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
}
.slide-wrap .slide-list {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.slide-wrap img {
  display: block;
  width: 100%;
}
.slide-wrap #slideposition {
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.slide-wrap #slideposition .indicator {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #eee;
  margin: 0 7px;
  padding: 0;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.slide-wrap #slideposition .indicator.active {
  background-color: #fff;
}

.item-wrap {
  padding: 0 15px;
  margin-bottom: 20px;
}
.item-wrap .item-list {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.item-wrap .item-list .item-img {
  float: left;
  width: 130px;
  height: 90px;
  margin-right: 10px;
  overflow: hidden;
}
.item-wrap .item-list .item-img img {
  width: 100%;
}
.item-wrap .item-list .item-title {
  max-height: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #323232;
  margin-bottom: 10px;
  overflow: hidden;
}
.item-wrap .item-list .item-article {
  max-height: 42px;
  font-size: 11px;
  color: #999;
  line-height: 1.2;
  overflow: hidden;
}

.ad-wrap {
  position: relative;
  margin: 20px 15px;
}
.ad-wrap img {
  width: 100%;
}
.ad-wrap .ad-tag {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  font-size: 11px;
  background-color: #3ad168;
  color: #fff;
}

.article-wrap {
  margin: 15px 15px 25px;
}
.article-wrap .nav-bread {
  color: #999;
  font-size: 11px;
  margin-bottom: 12px;
}
.article-wrap .nav-bread-date {
  margin-left: 20px;
}
.article-wrap h2 {
  max-height: 60px;
  line-height: 1.5;
  color: #121212;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.article-wrap img {
  width: 100%;
  margin: 18px 0;
}
.article-wrap p {
  font-size: 16px;
  color: #323232;
  line-height: 1.8;
  text-indent: 2em;
  letter-spacing: 0.5px;
}

.link-list {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  padding: 0 20px 0 15px;
  position: relative;
}
.link-list a {
  height: 45px;
  line-height: 45px;
  display: block;
  text-decoration: none;
  font-size: 15px;
  color: #323232;
  overflow: hidden;
}
.link-list span {
  position: absolute;
  right: 8px;
  top: 2px;
}

.item-wrap .item-list .item-title a:link  {
     font-size: 16px;
     color: #323232;
     overflow: hidden;
}

/**/
.item-wrap .item-list .item-article a:link  {
      color: #999;
     overflow: hidden;
}

.item-wrap .item-list .item-title a:visited  {
     font-size: 16px;
     color: #323232;
     overflow: hidden;
}

/**/
.item-wrap .item-list .item-article a:visited {
      color: #999;
     overflow: hidden;
}