html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input, textarea {
  border: 0 none;
}

.hide {
  display: none;
}

header {
  position: relative;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #3ad168;
}
header .back-btn {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 10px;
  height: 18px;
  background: url("../images/icons.png") no-repeat -36px 1px;
  background-size: auto 47px;
}
header .nav-more {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 18px;
  height: 2px;
  background-color: #fff;
  cursor: pointer;
}
header .nav-more:before, header .nav-more:after {
  position: absolute;
  top: -5px;
  right: 0;
  width: 18px;
  height: 2px;
  content: "";
  background-color: #fff;
}
header .nav-more:after {
  top: 5px;
}

nav {
  padding: 10px 5px;
  font-size: 14px;
  overflow: hidden;
}
nav a {
  float: left;
  width: 16%;
  margin: 10px 0;
  color: #121212;
  text-align: center;
  border-left: 1px solid #666;
  text-decoration: none;
}
nav a.no-border {
  border: 0 none;
}
nav span {
  color: #bfbfbf;
}

.head-line {
  line-height: 40px;
  padding-left: 15px;
  color: #666;
  border: 1px solid #ddd;
  background-color: #eee;
}

.btn {
  display: block;
  background-color: #3ad168;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.btn.btn-long {
  /*margin: 0 15px;*/
  margin: 0 10px;
  font-size: 15px;
  line-height: 45px;
}
.btn.btn-margin {
  margin-bottom: 25px;
}

.nav-top {
  position: relative;
  z-index: 2;
  line-height: 1.0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.nav-bottom {
  padding: 20px 0;
  margin-bottom: 40px;
  background-color: #eee;
}
.nav-bottom nav {
  background-color: #fff;
}

.comment-float {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 7px 125px 15px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-float .comment-float-input {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.comment-float .comment-btn {
  position: absolute;
  top: 18px;
  width: 18px;
  height: 18px;
  background: url("/wap/images/icons.png") no-repeat left top;
  background-size: auto 47px;
}
.comment-float .comment-btn.comment-more-btn {
  background-position: 0 1px;
  font-size: 11px;
  color: #999;
  right: 68px;
  text-decoration: none;
  text-indent: 20px;
  line-height: 1.8;
}
.comment-float .comment-btn.comment-share-btn {
  right: 16px;
  background-position: -18px 1px;
}

.comment-add {
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.comment-add .comment-add-head {
  position: relative;
  font-size: 15px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}
.comment-add .comment-add-title {
  line-height: 30px;
}
.comment-add .comment-add-cancel {
  font-size: 13px;
  color: #3ad168;
  padding: 8px 20px;
  border: 1px solid #3ad168;
  background-color: #fff;
  text-decoration: none;
  float: left;
}
.comment-add .comment-add-sub {
  font-size: 13px;
  color: #3ad168;
  padding: 8px 20px;
  border: 1px solid #3ad168;
  background-color: #fff;
  text-decoration: none;
  float: right;
}
.comment-add .comment-add-content {
  width: 100%;
  min-height: 80px;
  background-color: #eee;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


.article_comment_button .comment-add-sub {
  font-size: 13px;
  color: #3ad168;
  padding: 8px 20px;
  border: 1px solid #3ad168;
  background-color: #fff;
  text-decoration: none;
  float: right;
}
.article_comment_button .comment-add-content {
  width: 100%;
  min-height: 80px;
  background-color: #eee;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.article_comment_button .comment-add-cancel {
  font-size: 13px;
  color: #3ad168;
  padding: 8px 20px;
  border: 1px solid #3ad168;
  background-color: #fff;
  text-decoration: none;
  float: left;
}

.share-wrap {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
}
.share-wrap h2 {
  line-height: 42px;
  font-size: 15px;
  color: #666;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.share-wrap .share-icons {
  display: inline-block;
  margin: 13px 15px;
  width: 40px;
  height: 40px;
  background-color: #eee;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header .gohome {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 35px;
  
}
 
