<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<city-page>
    <div class="top-pic swiper-container" id="city-page-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5NDkxMTgyNw==&amp;scene=124#wechat_redirect}">
                <img src="https://gd1.alicdn.com/imgextra/i2/790599367/TB2tz36h3FkpuFjSspnXXb4qFXa_!!790599367.jpg_400x400.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5MDE0Mjc4MA==&amp;scene=124#wechat_redirect}">
                <img src="https://gd3.alicdn.com/imgextra/i2/0/TB1SAQnNFXXXXaYaXXXXXXXXXXX_!!0-item_pic.jpg_400x400.jpg"/>
                </a>
            </div>
            <div class="swiper-slide">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5MDE0Mjc4MA==&amp;scene=124#wechat_redirect}">
                <img src="https://img.alicdn.com/bao/uploaded/i4/TB1HCdJRVXXXXcEaXXXXXXXXXXX_!!0-item_pic.jpg_430x430q90.jpg"/>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="text-context">
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://tx.haiqq.com/uploads/allimg/150327/21033Q619-6.jpg" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海信息
                </div>
                <div class="desc">
                    关注上海每一天的最新动态
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{https://mp.weixin.qq.com/mp/profile_ext?action=home&amp;__biz=MjM5MDE0Mjc4MA==&amp;scene=124#wechat_redirect}">
                <img src="../static/images/20170705225942.png"/>
                </a>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://tx.haiqq.com/uploads/allimg/150327/21033Q619-6.jpg" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海信息
                </div>
                <div class="desc">
                    关注上海每一天的最新动态
                </div>
            </div>
            <div class="account-follow">
                <img src="../static/images/20170705225942.png"/>
            </div>
        </div>
        <div class="one-line">
            <div class = "account-pic">
                <img src="http://tx.haiqq.com/uploads/allimg/150327/21033Q619-6.jpg" />
            </div>
            <div class="account-info">
                <div class="title">
                    上海信息
                </div>
                <div class="desc">
                    关注上海每一天的最新动态
                </div>
            </div>
            <div class="account-follow">
                <img src="../static/images/20170705225942.png"/>
            </div>
        </div>
    </div>
</city-page>
</html>

