<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <style type="text/css">
        .demo {
            width: 150px;
            height: 80px;
            border: 2px solid #f36;
            background: #ccc;
            border-radius: 10px;
        }
    </style>
    <title>今日金桥微信矩阵</title>
</head>
<body>
<div class="nav">
    <span>市区信息</span>
    <span>镇级条线</span>
    <span>基层社区</span>
</div>
<div class="nav">
    <table>
        <tr>
            <td>
                <div class="demo"></div>
            </td>
            <td>
                <div class="demo"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="demo"></div>
            </td>
            <td>
                <div class="demo"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="demo"></div>
            </td>
        </tr>
    </table>
</div>


<div>

</div>

</body>

</html>
