<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <script src="../static/js/jquery-1.8.3.min.js"></script>
    <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>

    <link href="../static/css/swiper-3.4.2.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/nav.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/city_page.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/community_page.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .swiper-slide {
            height:80%;
        }
    </style>

    <title>今日金桥微信矩阵</title>

</head>
<body>
<div>
    <div class = "nav">
        <div class="title">
            <div class="nav-target nav-city">市区信息</div>
            <div class="nav-town">镇级条线</div>
            <div class="nav-community">基层社区</div>
        </div>
        <div class="line">
            <div><hr /></div>
            <div><hr style="visibility:hidden" /></div>
            <div ><hr style="visibility:hidden" /></div>
        </div>
    </div>
    <div class="swiper-container" id="all-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-hash="slide-city">
                <city-page th:replace="city_page"></city-page>
            </div>
            <div class="swiper-slide" data-hash="slide-town">
                <town-page th:replace="town_page"></town-page>
            </div>
            <div class="swiper-slide " data-hash="slide-community">
                <community-page th:replace="community_page"></community-page>
            </div>
        </div>
    </div>
</div>

<script>

    function toTargetNav(targetIndex) {
        $(".title >div").each(function (i) {
            if (i==targetIndex) {
                $(this).addClass("nav-target")
            } else {
                $(this).removeClass("nav-target")
            }
        });
        $(".line > div").each(function (i) {
            if (i==targetIndex) {
                this.firstChild.style.visibility="visible";
            } else {
                this.firstChild.style.visibility="hidden";
            }
        });
    }

    var mySwiper = new Swiper('#all-container', {
        hashnav:true,
        onTransitionEnd: function(swiper){
            toTargetNav(swiper.activeIndex);
        }
    })
    $(function () {
        $(".cell").click(function () {
            location.href = $(this).find("a").attr("href");
        })
    });

    $(".title >div").each(function (i) {
        $(this).click(function () {
            mySwiper.slideTo(i, 500, false);
            toTargetNav(i);
        })
    })

    new Swiper('#city-page-swiper-container', {
        pagination : '.swiper-pagination',
        paginationType : 'bullets',
        loop : true,
    })

    new Swiper('#town-page-swiper-container', {
        pagination : '.swiper-pagination',
        paginationType : 'bullets',
        loop : true,
    })


</script>

</body>

</html>
