<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
        <script src="../static/js/jquery-1.8.3.min.js"></script>
        <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
        <link href="../static/css/swiper-3.4.2.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/common.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/nav.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/community_page.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .swiper-slide {
                height:80%;
            }
        </style>
    </head>
    <body>
    <div>
    <nav th:replace="nav :: nav"></nav>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="http://img17.3lian.com/d/file/201702/15/6220b61e4da32f7c6e01702afc36f6d3.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="http://pic.ffpic.com/files/2014/0424/0423kadmnssjbz4.jpg" />
            </div>
            <div class="swiper-slide ">
                <community-page th:replace="community_page"></community-page>
            </div>
        </div>
    </div>
    </div>

    <script>
        var mySwiper = new Swiper('.swiper-container', {
            onTransitionEnd: function(swiper){
                $(".title >div").each(function (i) {
                    if (i==swiper.activeIndex) {
                        $(this).addClass("nav-target")
                    } else {
                        $(this).removeClass("nav-target")
                    }
                });
                $(".line > div").each(function (i) {
                    if (i==swiper.activeIndex) {
                        this.firstChild.style.visibility="visible";
                    } else {
                        this.firstChild.style.visibility="hidden";
                    }
                });
            }
        })
        $(function () {
            $(".cell").click(function () {
                location.href = $(this).find("a").attr("href");
            })
        })

    </script>

    </body>

</html>