<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
        <script src="../static/js/jquery-1.8.3.min.js"></script>
        <script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
        <link href="../static/css/swiper-3.4.2.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/common.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/nav.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            .swiper-slide {
                height:80%;
            }
        </style>

    </head>
    <body>
    <div>
    <div class = "nav">
        <div class="title">
            <div class="nav-target">市区信息</div>
            <div>镇级条线</div>
            <div>基层社区</div>
        </div>
        <div class="line">
            <div><hr /></div>
            <div><hr style="visibility:hidden" /></div>
            <div ><hr style="visibility:hidden" /></div>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="../static/images/example-slide-1.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../static/images/example-slide-2.jpg" />
            </div>
            <div class="swiper-slide">
                <img src="../static/images/example-slide-3.jpg" />
            </div>
        </div>
    </div>
    </div>

    <script>
        var mySwiper = new Swiper('.swiper-container', {
            onTransitionEnd: function(swiper){
                $(".title >div").each(function (i) {
                    if (i==swiper.activeIndex) {
                        $(this).addClass("nav-target")
                    } else {
                        $(this).removeClass("nav-target")
                    }
                });
                $(".line > div").each(function (i) {
                    if (i==swiper.activeIndex) {
                        this.firstChild.style.visibility="visible";
                    } else {
                        this.firstChild.style.visibility="hidden";
                    }
                });
            }
        })
    </script>

    </body>

</html>