<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <link href="../static/css/common.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/community_page.css" rel="stylesheet" type="text/css"/>
    <!--<link href="../static/css/com.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" href="../static/css/public.css" />
    <link href="../static/css/news.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../static/css/idangerous.swiper.css" type="text/css" />
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/touchSwipe-slide.js"></script>
    <script type="text/javascript" src="../static/js/public.js"></script>
    <title>今日金桥微信矩阵</title>
</head>
<body>
<div class="nav">
    <table>
        <tr>
            <td><a>市区信息</a></td>
            <td class="nav-target"><a>镇级条线</a></td>
            <td><a>基层社区</a></td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <div>
                    <hr style="height:1px;border:none;border-top:2px solid #0062D7; width:70px"/>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<div>
    <div>
        <div class="slide-wrap">
            <ul class="slider">
                <li class="slide-list">
                    <a  href="">
                        <img src="http://media2.chunyuyisheng.com/@/media/images/2014/11/11/6d5dc5335c5b_w640_h375_.jpg" class="slider" alt=""/></a>
                </li>
                <li class="slide-list">
                    <a  href="">
                        <img src="http://media2.chunyuyisheng.com/@/media/images/2014/11/10/0cc3237607e8_w640_h375_.jpg" class="slider" alt=""/></a>
                </li>
            </ul>
        </div>
    </div>

    <div></div>
    <div class="item-wrap">
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2015/02/12/da6da4e32944_w180_h180_.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 一张霸气长桌搞定整个公司所有工位</dt>
                <dd class="item-article">世界上最长的办公桌。</dd>
            </dl>
            <dl class="item-list" style="line-height: 80px;text-align: center;width: 20%;float: left;">
                <dd>
                    <img style="width:90px;" onclick="window.open('www.baidu.com')" src="../static/images/20170705225942.png"/>
                </dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2015/02/11/79cce2a8b523_w180_h180_.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 社交软件，只爱陌生人？</dt>
                <dd class="item-article">软件卸了，人也就散了。</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://img.chunyu.mobi/media/images/2013/08/14/ac2212145e06.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 追击引发痘痘的13个罪犯</dt>
                <dd class="item-article">追击引发痘痘的13个罪犯</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2014/05/20/fdc507440a00.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 健康信息图：痤疮治疗的关键信息！</dt>
                <dd class="item-article">如何搞掉青春痘！痤疮治疗的关键信息！</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2013/11/02/84b98ba47526.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 各种饮料饮料喝多少才恰当？</dt>
                <dd class="item-article"></dd>
            </dl>
        </a>
    </div>

    <!--  循环显示子频道 -->
    <!-- <div class="channel_name">
          <div class="channel_name_icon"><img src="wap/images/channel_name_icon.jpg" /></div>
           <div class="channel_name_text"><美容</div>
         </div> -->
    <div class="block">

        <!-- 显示每个子频道的推荐位 -->
        <div>
        </div>

    </div>


    <!-- 直接从news表中显示最新新闻 -->


    <!--<div class="item-wrap">-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2016/01/07/0f29256476c8_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">你和肤白貌美 只差一个光子嫩肤</dt>-->
                <!--<dd class="item-article">别说男人都是视觉动物，就连我们自己都是大写的颜控，为了你能肤白貌美，小编特意为你献上顶级整形医院&#45;&#45;八大处整形...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2015/12/30/57a25fd0565d_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">护肤的八大误区，你中了几个？</dt>-->
                <!--<dd class="item-article">你有想过你的护肤方法到底正不正确吗？还是只是惯性的每日做着护理的工作？其实，如果是错误的护肤方法，不仅不会改善...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2016/01/07/0f29256476c8_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">你和肤白貌美 只差一个光子嫩肤</dt>-->
                <!--<dd class="item-article">别说男人都是视觉动物，就连我们自己都是大写的颜控，为了你能肤白貌美，小编特意为你献上顶级整形医院&#45;&#45;八大处整形...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2015/12/30/57a25fd0565d_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">护肤的八大误区，你中了几个？</dt>-->
                <!--<dd class="item-article">你有想过你的护肤方法到底正不正确吗？还是只是惯性的每日做着护理的工作？其实，如果是错误的护肤方法，不仅不会改善...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2016/01/07/0f29256476c8_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">你和肤白貌美 只差一个光子嫩肤</dt>-->
                <!--<dd class="item-article">别说男人都是视觉动物，就连我们自己都是大写的颜控，为了你能肤白貌美，小编特意为你献上顶级整形医院&#45;&#45;八大处整形...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<a href="">-->
            <!--<dl class="item-list">-->
                <!--<dd class="item-img">-->
                    <!--<img src="http://dn-chunyu.qbox.me/@/media/images/2015/12/30/57a25fd0565d_w180_h180_.jpg" alt=""/>-->
                <!--</dd>-->
                <!--<dt class="item-title">护肤的八大误区，你中了几个？</dt>-->
                <!--<dd class="item-article">你有想过你的护肤方法到底正不正确吗？还是只是惯性的每日做着护理的工作？其实，如果是错误的护肤方法，不仅不会改善...</dd>-->
            <!--</dl>-->
        <!--</a>-->
        <!--<div class="clear"></div>-->
        <!--<div class="more" id="more"><a href="lm.html?id=33">查看更多</a></div></div>-->

</div>



<!-- 显示每个子频道的推荐位 -->

</body>

</html>
    <script>
        // 轮播图
        $(".slider").simpleSlider({
            slides:".slide-list",
            swipe:true,
            slideTracker:true,
            slideTrackerId:"slideposition",
            slideOnInterval:true,
            interval:3000,
            animateDuration:600,
            animateEasing:"easeInOut",
            pauseOnHover:false
        });
    </script>
