<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<town-page>
    <div>
        <div class="slide-wrap">
            <ul class="slider">
                <li class="slide-list">
                    <a  href="">
                        <img src="http://media2.chunyuyisheng.com/@/media/images/2014/11/11/6d5dc5335c5b_w640_h375_.jpg" class="slider" alt=""/></a>
                </li>
                <li class="slide-list">
                    <a  href="">
                        <img src="http://media2.chunyuyisheng.com/@/media/images/2014/11/10/0cc3237607e8_w640_h375_.jpg" class="slider" alt=""/></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="item-wrap">
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2015/02/12/da6da4e32944_w180_h180_.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 一张霸气长桌搞定整个公司所有工位</dt>
                <dd class="item-article">世界上最长的办公桌。</dd>
            </dl>
            <dl class="item-list" style="line-height: 80px;text-align: center;width: 20%;float: left;">
                <dd>
                    <img style="width:90px;" onclick="window.open('www.baidu.com')" src="../static/images/20170705225942.png"/>
                </dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2015/02/11/79cce2a8b523_w180_h180_.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 社交软件，只爱陌生人？</dt>
                <dd class="item-article">软件卸了，人也就散了。</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://img.chunyu.mobi/media/images/2013/08/14/ac2212145e06.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 追击引发痘痘的13个罪犯</dt>
                <dd class="item-article">追击引发痘痘的13个罪犯</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2014/05/20/fdc507440a00.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 健康信息图：痤疮治疗的关键信息！</dt>
                <dd class="item-article">如何搞掉青春痘！痤疮治疗的关键信息！</dd>
            </dl>
        </a>
        <a  href="">
            <dl class="item-list">
                <dd class="item-img">
                    <img src="http://media2.chunyuyisheng.com/@/media/images/2013/11/02/84b98ba47526.jpg" alt=""/>
                </dd>
                <dt class="item-title"> 各种饮料饮料喝多少才恰当？</dt>
                <dd class="item-article"></dd>
            </dl>
        </a>
    </div>


</town-page>

</html>

