<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!--
https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NDkxMTgyNw==&scene=124#wechat_redirect
-->

<town-page>
    <div class="top-pic swiper-container" id="town-page-swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-wrapper">

                <div class="swiper-slide" th:each="banner : ${townPage.bannerVOList}">
                    <a th:href="@{${banner.url}}">
                        <img src = "#" th:src="@{${banner.img}}"/>
                    </a>
                </div>

            </div>

        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="text-context">
        <div class="one-line" th:each="item : ${townPage.itemVOList}">
            <div class = "account-pic">
                <img th:src="@{${item.img}}" />
            </div>
            <div class="account-info">
                <div class="title" th:text="${item.title}">
                    智慧养老
                </div>
                <div class="desc" th:text="${item.description}">
                </div>
            </div>
            <div class="account-follow">
                <a  href="#"
                    th:href="@{${item.followLink}}">
                    <img src="../static/images/20170705225942.png"/> <!-- 关注图片 -->
                </a>
            </div>
        </div>
    </div>
</town-page>
</html>

